html,body,#root{
  height: 100%;
  box-sizing: border-box;
}

html *{
  box-sizing: inherit;
  color: #636363;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  background-color: #69bbd4;
}
